a {
  text-decoration: none;
  width: 100%;
}
.success{
    background: rgb(4, 4, 49);
    border: none;
    outline: none;
    padding: 15px 25px;
    color: white;
    font-size: 18px;
    width: 350px;
    border-radius: 5px;
    position: absolute;
    top: -5%;
    right: 50%;
    transform: translateX(-80%);   
    transition: all 0.7s;
}
.Sactive{
    right: 0%;
    transform: translateX(100%);
    opacity: 0;
}
.Lactive {
  opacity: 0;
}
.login {
  margin-top: 120px;
  height: 100vh;
  position: relative;
  left: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;

  .logout-btn {
    position: absolute;
    top: -3%;
    right: 32%;
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 5px;
    background:red;
    color: white;
    border: none;
    outline: none;
  }
  .login-page {
    background: whitesmoke;
    width: 350px;
    height: fit-content;
    padding: 25px 20px;

    h1 {
      display: inline-block;
      margin: 0 auto;
      text-transform: uppercase;
      color: black;
      font-size: 30px;
      padding: 10px 30px;
      border-radius: 10px;
    }
    .login-content {
      width: 100%;
      margin-top: 25px;

      form {
        .form-control {
          width: 100%;
          padding: 5px;
          margin-bottom: 25px;

          input {
            background: white;
            width: 80%;
            padding: 15px;
            outline: none;
            border: none;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
        .form-submit {
          margin-top: 30px;
          button {
            padding: 12px;
            // width: 90%;
            font-size: 18px;
            width: 40%;
            display: block;
            margin: 0 auto;
            background: rgb(4, 4, 51);
            color: white;
            border: none;
            outline: none;
          }
        }
        .sign-up {
          margin-top: 20px;
          color: rgb(4, 4, 51);
          font-size: 16px;

          span {
            text-decoration: underline;
            color: blue;
          }
        }
        .or {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-top: -25px;

          p {
            width: 130px;
            height: 1px;
            background: rgb(201, 199, 199);
            margin-top: 20px;
          }
          h5 {
            font-size: 22px;
            font-weight: 400;
            color: lightslategrey;
          }
        }
        .google {
          display: flex;
          margin: 0 auto;
          margin-top: -20px;
          width: 85%;
          background: rgb(6, 1, 57);
          padding: 8px 15px;
          gap: 30px;
          //   border: 1px solid rgb(201, 199, 199);
          border-radius: 4px;

          svg {
            font-size: 30px;
            margin-right: 20px;
          }
          button {
            font-size: 20px;
            color: white;
            border: none;
            outline: none;
            background: transparent;
          }
        }
      }
    }
  }
}
